flask
apiflask
Flask-SQLAlchemy
mysql-connector-python 
pymysql
boto3
gunicorn
Pillow
marshmallow_sqlalchemy
Flask-JWT-Extended
Flask-Migrate
pytest
pytest-flask
flask_cors==3.0.10
passlib==1.7.4
requests
python-dotenv
cryptography
